/* header starts */
.top{
    height: 40px;
    background-color: #333;
}
header{
    height: 40px;
    line-height: 40px;
}

header a{
    color: #b0b0b0;
    display: inline-block;
    margin: 0 5px;
}

header a:hover{
    color: #fff;
}

header .seperate-mark{
    color: rgb(79, 79, 79);
}

header .head-nav{
    float: left;

}

header .header-right{
    float: right;
}

header .header-right .login{
    float: left;
    margin-right: 20px;
}

header .header-right .cart{
    position: relative;
    background-color: #424242;
    float: right;
    height: 40px;
    padding: 0 15px;
    cursor: pointer;
}

header .header-right .cart a:first-child{
    margin-right: 0px;
}

header .header-right .cart:hover{
    background-color: #fff;
}

header .header-right .cart:hover a{
    color: #ff6700;
}

header .header-right .cart .cart-list{
    position: absolute;
    width: 316px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #333;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    left: -196px;
    display: none;
}

header .header-right .cart:hover .cart-list{
    display: block;
}
/* header ends */